talkie_icon		ICON	"talkie.ico"
default			BITMAP	"Resources\default.bmp"
person_big		BITMAP	"Resources\person-big.bmp"
person			BITMAP	"Resources\person-small.bmp"
person_red		BITMAP	"Resources\person-small-red.bmp"
person_prince	BITMAP	"Resources\person-small-prince.bmp"
person_bender	BITMAP	"Resources\person-small-bender.bmp"
person_towelie	BITMAP	"Resources\person-small-towelie.bmp"
person_owl		BITMAP	"Resources\person-small-owl.bmp"
person_notis	BITMAP	"Resources\person-small-notis.bmp"
person_guitar	BITMAP	"Resources\person-small-guitar.bmp"
person_cartman	BITMAP	"Resources\person-small-cartman.bmp"
person_alig		BITMAP	"Resources\person-small-alig.bmp"

ind_busy		BITMAP	"Resources\indication-busy.bmp"
ind_online		BITMAP	"Resources\indication-online.bmp"
ind_disc		BITMAP	"Resources\indication-disconnected.bmp"
ind_idle		BITMAP	"Resources\indication-idle.bmp"
ind_important	BITMAP	"Resources\indication-important.bmp"

logo_text		BITMAP	"Resources\logo-text.bmp"
